body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#overview {
    flex: 1.3;
    max-width: 200pt;
    overflow: auto;
    background: #d6d9dd;
    transition: width 0.5s;
    box-shadow: 10px 0px 15px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}

#content {
    flex: 3;
    overflow: auto;
    padding: 1em;
}

.current {
    background: linear-gradient(to right, white, transparent);
    font-weight: bold;
    text-decoration: underline;
}

img{
    max-width: 100%;
}

#overview a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type:none;
    padding: 5pt;
}

#toggle{
    display: none;
}

@media (max-width: 500pt) {
    #overview {
        position: absolute; 
        display: none;
    }
    #toggle{
        display: block;
        position: absolute;
        left: 10px;
        top: 10px
    }
}