body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#overview {
    position: absolute;
    width: 180pt;
    height: 100%;
    background: #eef2f9;
    transition: 0.5s;
    padding-top: 5pt;
    left: 0pt;
    z-index: 1;
}

#overview *{
    margin-left: 5pt;
}

#content {
    position: absolute;
    left: 180pt;
    overflow: auto;
    padding: 1em;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    transition: 0.5s;
}

.current {
    background: white;
    font-weight: bold;
    border-radius: 10px;
    width: 80%;
}

img{
    max-width: 100%;
    border-radius: 10px;

}

#overview a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type:none;
    padding: 5pt;
}

code{
    background: #eef2f9;
    padding: 10pt;
    border-radius: 10px;
    display:inline-block;
}

#toggle{
    display: none;
}

@media (max-width: 590pt) {
    #overview {
        left: -180pt;
    }
    #content{
        left: 0pt;
    }
    #toggle{
        display: block;
        position: absolute;
        left: 10px;
        top: 10px
    }
}