:root{
    --drawer-margin: -180pt;
    --drawer-shadow: 10px 0px 30px 0px rgba(0,0,0,0.0);
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#overview {
    min-width: 180pt;
    max-width: 180pt;
    height: 100%;
    background: #eef2f9;
    transition: 0.5s;
    padding-top: 5pt;
    margin-left: 0pt;
    overflow: auto;
}

#overview *{
    margin-left: 5pt;
}

#content {
    overflow: auto;
    padding: 1em;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    transition: 0.5s;
}

.current {
    background: white;
    font-weight: bold;
    border-radius: 10px;
    width: 80%;
}

img{
    max-width: 100%;
    border-radius: 10px;

}

#overview a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type:none;
    padding: 5pt;
}

code{
    background: #eef2f9;
    padding: 10pt;
    border-radius: 10px;
    display:inline-block;
}

#toggle{
    position: absolute;
    left: -30px;
    top: 10px;
    transition: 0.5s;
}

@media (max-width: 590pt) {
    #overview {
        box-shadow: var(--drawer-shadow);
        position: absolute;
        margin-left: var(--drawer-margin);

    }
    #toggle{
        left: 10px;
        z-index: 2;
    }
}